replicaCount: 1

strimzi:
  enabled: true

kafka:
  enabled: true
  name: dev-kafka
  version: "3.9.1"
  topic: kundbehovsflode-done


quarkus:
  - name: folkbokford
    image:
      repository: ghcr.io/forsakringskassan/folkbokford
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
  - name: arbetsgivare
    image:
      repository: ghcr.io/forsakringskassan/arbetsgivare
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
  - name: uppgiftslager
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-operativt-uppgiftslager
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
  - name: vah
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-vard-av-husdjur
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
  - name: rtf-maskinell
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-regel-rtf-maskinell
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
  - name: rtf-manuell
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-regel-rtf-manuell
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"
  - name: kundbehovsflode
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-service-kundbehovsflode
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
  hosts:
    - paths:
        - path: /api
          pathType: Prefix
          backend: quarkus