replicaCount: 1

quarkusDefaults:
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"

strimzi:
  enabled: true

kafka:
  enabled: true
  name: dev-kafka
  version: "3.9.1"
  topic: kundbehovsflode-done


quarkus:
  - name: folkbokford
    image:
      repository: ghcr.io/forsakringskassan/folkbokford
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
  - name: arbetsgivare
    image:
      repository: ghcr.io/forsakringskassan/arbetsgivare
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
  - name: uppgiftslager
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-operativt-uppgiftslager
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
  - name: vah
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-vard-av-husdjur
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
  - name: rtf-maskinell
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-regel-rtf-maskinell
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true
  - name: rtf-manuell
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-regel-rtf-manuell
      tag: snapshot
      #repository: rimfrost/rimfrost-regel-rtf-manuell
      #tag: latest
      #pullPolicy: Never
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
      - name: JAVA_TOOL_OPTIONS
        value: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
    waitForKafka: true
  - name: kundbehovsflode
    image:
      repository: ghcr.io/forsakringskassan/rimfrost-service-kundbehovsflode
      tag: snapshot
    env:
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_BOOTSTRAP_SERVERS
        value: "dev-kafka-kafka-bootstrap:9092"
      - name: MP_MESSAGING_CONNECTOR_SMALLRYE_KAFKA_ALLOW_AUTO_CREATE_TOPICS
        value: "true"
    waitForKafka: true

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
  hosts:
    - paths:
        - path: /api
          pathType: Prefix
          backend: quarkus